{% extends 'esqueleto.html' %}
{% block titulo %}
    <title>Registro de usuarios</title>
{%  endblock %}

{%  block contenido %}
<div class="container-fluid p-0">

					<div class="mb-3">
						<h3 class="h3 d-inline align-middle">Registro 2 de (3)  </h3>
						<!--esta linea de codigo donde va la imagen sera remplasada por la imagen capturada en el paso 1 de 3-->


					</div>

					<div class="row">

                          <div  class="col-12 col-md-6" >
                            <img src="data:image/jpeg;base64, {{ imagen_perfil }}" class="img-thumbnail" alt="Foto de perfil">
                        </div>

						<div class="col-12 col-md-6">

                            <form method="POST" action="{{url_for('registro2')}}">
                                <input type="hidden" name="codigo" value="{{ codigo_cliente }}">
                                <input type="hidden" name="perfil" value="{{ imagen_perfil }}">
                                <div class="card">
                                    <div class="card-header bg-success">
                                        <h5 class="card-title mb-0 text-light font-weight-light">Nombre</h5>
                                    </div>
                                    <div class="card-body">
                                        <input class="form-control" disabled id="nombre" name="nombre" type="text" value="{{ lista[0]["nombre"] }}">
                                        <!--<input type="text" class="form-control" disabled value="">-->
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">

                                        <h5 class="card-title mb-0">Telefono</h5>
                                    </div>
                                    <div class="card-body">
                                        <input class="form-control" disabled id="telefono" name="telefono" type="number"  value="{{ lista[0]["telefono"] }}">
                                        <!--<input type="number" class="form-control" placeholder=" ">-->
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Inscripción</h5>
                                    </div>
                                    <div class="card-body">
                                        <input class="form-control" name="inscripcion" type="text" value="${{ inscripcion }}" readonly>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Colegiaturas</h5>
                                    </div>
                                    <div class="card-body">
                                        <!--<input class="form-control" id="colegiatura" name="colegiatura" type="text"  >-->
                                        <select class="form-select mb-3" id="colegiatura" name="colegiatura" required>
                                          <option value="">Seleccionar colegiatura</option>

                                            {% for datos in lista_precios %}
                                                {% for x,y in datos.items() %}
                                                    <option>{{ x }}  /   ${{ y }}</option>
                                                {% endfor %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Horario</h5>
                                    </div>
                                    <div class="card-body">
                                        <select class="form-select mb-3" id="horario" name="horario" required>
                                          <option value="">Seleccionar un horario</option>
                                          <option >07:00 am</option>
                                          <option >08:00 am</option>
                                          <option >09:00 am</option>
                                            <option >10:00 am</option>
                                            <option>11:00 am</option>
                                            <option>12:00 pm</option>
                                            <option>01:00 pm</option>
                                            <option>02:00 pm</option>
                                            <option>04:00 pm</option>
                                            <option>05:00 pm</option>
                                            <option>06:00 pm</option>
                                            <option>07:00 pm</option>
                                            <option>08:00 pm</option>
                                            <option>09:00 pm</option>
                                        </select>



                                    </div>

                                </div>

                                <div>

								<button class="btn btn-success">Registrar Continuar (2 de 3)</button>
								<!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
							</div>

                            </form>
                        </div>


                    </div>


</div>
{% endblock %}