{% extends 'esqueleto.html' %}

{% block titulo %}
    <title>Registro de usuarios</title>
{%  endblock %}

{% block codigocss %}
    <style>
    .card {
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
        border-color: #0a0a0a;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}



{%  block contenido %}
<div class="container-fluid p-0">
                    <div class="card-header m-5">
						<h2 class="text-center">Registro Exitoso</h2>
					</div>





                    <div id="html-content-holder"  class="row m-5">
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="card" style="width: 23rem;" style="">

                              <img src="data:image/jpeg;base64, {{ imagen_perfil }}"  class="img-fluid" alt="...">
                              <div class="card-body">
                                <h1 class="card-title">{{ persona_datos[4] }} {{ persona_datos[1] }}</h1>
                                <p class="card-text"><span class="fa fa-map-marker"></span> Dirección: {{ persona_datos[3] }}</p>
                                <p class="card-text"><span class="fa fa-phone"></span> Teléfono: {{ persona_datos[5] }}</p>
                                <p class="card-text"><span class="fa fa-envelope"></span> Correo: {{ persona_datos[2] }}</p>

                              </div>
                            </div>
                        </div>

                        <div class="col-md-4 d-flex justify-content-center">
                              <div class="card" style="width: 23rem;">

                                    {% set fecha_inicial=persona_actividades[1].split(" ") %}
                                  <div class="text-center">
                                    <img  src="{{ qrcode(codigoqr) }}" class="img-fluid" width="75%">
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title"><span class="fa fa-calendar"></span> Fecha de inicio: {{ fecha_inicial[0] }}</h5>
                                    <p class="card-text"><span class="fa fa-heart"></span> Área: {{ persona_actividades[0] }}</p>
                                    <p class="card-text"><span class="fa fa-money"></span> Colegiatura: ${{ persona_actividades[4] }}</p>
                                    <p class="card-text"><span class="fa fa-clock-o"></span> Horario: {{ persona_actividades[2] }}</p>


                                  </div>
                                </div>
                        </div>

                        <div class="col-md-4 d-flex justify-content-center">
                            <p class="fs-2 align-self-end">Recorte su credencial por los bordes</p>
                        </div>







                    </div>

                    <input id="btn_convert" type="button" value="Generar Credencial" class="btn btn-success  btn-lg"/>












</div>

{%  endblock%}

{% block codigojs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script>
     document.getElementById("btn_convert").addEventListener("click", function() {
		html2canvas(document.getElementById("html-content-holder"),
			{
				allowTaint: true,
				useCORS: true
			}).then(function (canvas) {
				var anchorTag = document.createElement("a");
				document.body.appendChild(anchorTag);
			//	document.getElementById("previewImg").appendChild(canvas);
				anchorTag.download = "credencial.jpg";
				anchorTag.href = canvas.toDataURL();
				anchorTag.target = '_blank';
				anchorTag.click();
			});
  });
    </script>
{% endblock %}