{% extends 'esqueleto.html' %}
{% block titulo %}
<title>Registro de usuarios</title>

{%  endblock %}
{%  block contenido %}
<div class="container-fluid p-0">
	<div class="mb-3">
		<h1 class="h3 d-inline align-middle">Registro de usuarios</h1>
			</div>
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Nombre</h5>
								</div>
								<div class="card-body">
									<input type="text" class="form-control" placeholder="Nombre(s)">
								</div>
								<div class="card-body">
									<input type="text" class="form-control" placeholder="Apellidos">
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Direccion</h5>
								</div>
								<div class="card-body">
									<input type="text" class="form-control" placeholder="Escribe una direccion">
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Telefono</h5>
								</div>
								<div class="card-body">
									<input type="number" class="form-control" placeholder="Numero de telefono">
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h5 class="card-title mb-0">Correo</h5>
								</div>
								<div class="card-body">
									<input type="email" class="form-control" placeholder="Correo electronico">
								</div>
							</div>

							<!--button-->
							<div>
								<a href="{{ url_for('re')}}" class="btn btn-lg btn-primary">Continuar (1 de 3)</a>
								<!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
							</div>

						</div>
					</div>

</div>

{%  endblock%}